.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.post-div {
  margin-top: -15px;
}

.post-content {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 1.25rem;
  padding: 1rem;
  width: 40em;
  box-shadow: 10px 10px 5px whitesmoke;
}

@media (max-width: 768px) {
  .post-content {
    width: 99%;
  }
}

.post-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.post-date {
  color: grey;
  font-size: 15px;
  margin-top: -5px !important;
}

.post-author {
  font-weight: 900;
  font-size: 15px;
  color: black;
}

.post-author-date {
  margin-top: 3px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-content p {
  margin: 0;
}

.comments-btn {
  display: flex;
  justify-content: flex-end;
  color: grey;
}

.commentsBtnContainer {
  display: flex;
  justify-content: flex-end;
}

.post-buttons {
  display: flex;
  justify-content: center;
}

.like-btn,
.comment-btn {
  width: 50%;
  border: none;
  font-weight: 900;
  height: 40px;
  border-radius: 10px !important;
  margin-top: -10px;
  /* background-color: rgb(148, 147, 147); */
  background-color: rgb(153, 153, 153);
}

.like-btn:hover,
.comment-btn:hover {
  /* background-color: rgb(128, 128, 128); */
  background-color: rgb(97, 97, 97);
  transition: 0.7s;
}

.post-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

.post-contacts {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-right: 10%;
  position: absolute;
  right: 0;
  margin-top: 33px;
}

.posts-end {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 19px;
  font-weight: 500;
}
