.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  width: 400px;
  padding: 30px;
  padding-right: 40px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgb(172, 172, 172);
}

.signup-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.signup-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #0056b3;
}

.signup-divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.signup-login-link {
  display: block;
  text-align: center;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.signup-login-link:hover {
  text-decoration: underline;
}

.back-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ff5100;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button-container-signup {
  margin-left: -10px;
  display: flex;
  flex-direction: column;
}
